@{
    Layout = null;
}

<!Doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>
           Party
        </title>
        <style>
            body { background-color:beige}
        </style>
    </head>
    <body>
       <div>
            <p>
                We are going to have an exciting party <br />
                Click here to go to RSVP Form <a asp-action="RSVPForm">RSVP Form</a>
            </p>
       </div>
    </body>
</html>