@model IEnumerable<string>
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <title>
            Index page
        </title>
        <style>
            body {background-color:aliceblue}
        </style>
    </head>
   
    <body>
     <ul>
        @foreach(string str in Model){
            <li>@str</li>
        }
    </ul>
</body>
</html>